<a href="https://colab.research.google.com/github/cavs1010/personal-projects/blob/main/GC_Real_Estate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Collection

The data will be collected from https://www.domain.com.au/rent/gold-coast-qld/ <br> I tried using www.realestate.com.au but there is not permission.

In [27]:
# Install the main libraries for web scrapping
! pip3 install requests
! pip3 install beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [28]:
#Import Main Libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import math

In [29]:
URL = 'https://www.domain.com.au/rent/gold-coast-qld/'
page = requests.get(URL)

In [30]:
soup = BeautifulSoup(page.content, 'html.parser')

In [31]:
#Number of web pages to read
numberOfWebsToRead = soup.find("h1", attrs={"class": "css-ekkwk0"}).text
numberOfWebsToRead = int(re.findall(r'\d+', numberOfWebsToRead)[0])
numberOfWebsToRead = numberOfWebsToRead /21
numberOfWebsToRead = math.floor(numberOfWebsToRead)

In [32]:
 #Arrays for the ammenities in the house
 mainAddressArray = []
 secondAddressArray = []
 postalCodeArray = []
 rentArray = []
 bedsArray = []
 bathsArray = []
 parkingArray = []
 buildingTypeArray = []

for i in range (1,7):
  URL = 'https://www.domain.com.au/rent/gold-coast-qld/?page='+str(i)
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  #Each element will cotain the info required for my work
  elements = soup.find_all("div", class_="css-1n74r2t")
  for element in elements:
    mainAddress = element.find("span", attrs={"data-testid": "address-line1"})
    secondAddress = element.find("span", attrs={"itemprop": "addressLocality"})
    postalCode = element.find("span", attrs={"itemprop": "postalCode"})
    rent = element.find("p", attrs={"data-testid": "listing-card-price"})
    ammenities = element.find_all("span", attrs={"class": "css-1rzse3v"})
    buildingType = element.find("span", attrs={"class": "css-693528"})
    if all(label is not None for label in [mainAddress, secondAddress, postalCode, rent, ammenities[0], ammenities[1], ammenities[2], buildingType]):
      mainAddressArray.append(mainAddress.text)
      secondAddressArray.append(secondAddress.text)
      postalCodeArray.append(postalCode.text)
      rentArray.append(rent.text)
      bedsArray.append(ammenities[0].text)
      bathsArray.append(ammenities[1].text)
      parkingArray.append(ammenities[2].text)
      buildingTypeArray.append(buildingType.text)
    else:
      print('It was not possible to add an element in page '+str(i)+" becasue it's missing some values")

It was not possible to add an element in page 3 becasue it's missing some values

## Final data gathered:

In [33]:
dictionary = {'Main Address': mainAddressArray, 
              'Second Address': secondAddressArray, 
              'Postal Code': postalCodeArray, 
              'Rent':rentArray, 
              'Bedrooms': bedsArray, 
              'Bathrooms': bathsArray,
              'Parking spaces': parkingArray,
              'Building Type': buildingTypeArray}
df = pd.DataFrame(dictionary)
df

               Main Address  ...            Building Type
0            53 Oxford St,   ...                    House
1      1 Macarthur Street,   ...                    House
2           55 Nicola Way,   ...                    House
3     27 Florabella Drive,   ...                    House
4   1/18 Lenneberg Street,   ...                Townhouse
..                      ...  ...                      ...
94   17/120 The Esplanade,   ...  Apartment / Unit / Flat
95    26 Springsure Drive,   ...                    House
96      19 Norfolk Avenue,   ...                    House
97    3/57 Garrick Street,   ...  Apartment / Unit / Flat
98                 6 AQUA,   ...  Apartment / Unit / Flat

[99 rows x 8 columns]

# 2. Data Cleaning

In [34]:
dfCopy = df.copy()

In [35]:
#Function that transform the columns[Bedrooms, Bathrooms and Parking Spaces] to integers
#columnName : Name of the column to transform into an integer.
def toInteger (columnName):
  for ind in dfCopy[columnName].index:
    value = dfCopy[columnName][ind][0]
    if (value == '−'):
      value = 0
    else:
      value = int(value)
    dfCopy[columnName][ind] = value

In [36]:
toInteger('Bathrooms')
toInteger('Bedrooms')
toInteger('Parking spaces')
dfCopy

               Main Address  ...            Building Type
0            53 Oxford St,   ...                    House
1      1 Macarthur Street,   ...                    House
2           55 Nicola Way,   ...                    House
3     27 Florabella Drive,   ...                    House
4   1/18 Lenneberg Street,   ...                Townhouse
..                      ...  ...                      ...
94   17/120 The Esplanade,   ...  Apartment / Unit / Flat
95    26 Springsure Drive,   ...                    House
96      19 Norfolk Avenue,   ...                    House
97    3/57 Garrick Street,   ...  Apartment / Unit / Flat
98                 6 AQUA,   ...  Apartment / Unit / Flat

[99 rows x 8 columns]

## Transform the rent into a float:

In [37]:

rentIntArray = []
for ind in dfCopy['Rent'].index:
  #Extract the numbers from the string
  lista = re.findall(r'\d+', dfCopy['Rent'][ind])
  finalRent = ''.join(lista)
  #Eliminate the row if the number is ''
  if (finalRent == ''):
    dfCopy.drop([ind], inplace=True)
    print ('This is the problem index: '+str(ind)+', so it was eliminated' )
  #Otherwise, it add the number to a list
  else:
    dfCopy['Rent'][ind] = float(finalRent)
    rentIntArray.append(float(finalRent))

This is the problem index: 50, so it was eliminated

In [39]:
dfCopy.head()

              Main Address Second Address  ... Parking spaces Building Type
0           53 Oxford St,         PIMPAMA  ...              2         House
1     1 Macarthur Street,         PIMPAMA  ...              2         House
2          55 Nicola Way,   UPPER COOMERA  ...              2         House
3    27 Florabella Drive,          ROBINA  ...              2         House
4  1/18 Lenneberg Street,       SOUTHPORT  ...              2     Townhouse

[5 rows x 8 columns]

## Get the latitude and Longitude

In [47]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my_user_agent")

In [48]:
housesNotFound = []
for index, row in dfCopy.iterrows():
  if '/' in row['Main Address']:
    location =  geolocator.geocode(row['Main Address'].split('/',1)[1] +row['Second Address']) 
  else:
    location = geolocator.geocode(row['Main Address']+row['Second Address']) 
  if location == None:
    housesNotFound.append( row['Main Address']+row['Second Address'])
    dfCopy.drop([index], inplace=True)
  else:
    dfCopy['Latitude'] = location.latitude
    dfCopy['Longitude'] = location.longitude

print('These houses were not found:'+ str(housesNotFound))

These houses were not found:[]

In [46]:
housesNotFound

[]

In [49]:
dfCopy

               Main Address    Second Address  ...   Latitude Longitude
1      1 Macarthur Street,            PIMPAMA  ...  53.645831 -2.993097
2           55 Nicola Way,      UPPER COOMERA  ...  53.645831 -2.993097
3     27 Florabella Drive,             ROBINA  ...  53.645831 -2.993097
4   1/18 Lenneberg Street,          SOUTHPORT  ...  53.645831 -2.993097
5          5/3 Central St,           LABRADOR  ...  53.645831 -2.993097
..                      ...               ...  ...        ...       ...
94   17/120 The Esplanade,   SURFERS PARADISE  ...  53.645831 -2.993097
95    26 Springsure Drive,         MUDGEERABA  ...  53.645831 -2.993097
96      19 Norfolk Avenue,   SURFERS PARADISE  ...  53.645831 -2.993097
97    3/57 Garrick Street,        COOLANGATTA  ...  53.645831 -2.993097
98                 6 AQUA,          SOUTHPORT  ...  53.645831 -2.993097

[90 rows x 10 columns]

### 3. Data Analysis

In [50]:
! pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (1.1.1)

In [52]:
import folium

In [61]:
goldCoastMap = folium.Map(location = [-28.0167, 153.4000],  
                          zoom_start = 10,
                          tiles="CartoDB positron")

In [62]:
goldCoastMap