<a href="https://colab.research.google.com/github/cavs1010/personal-projects/blob/Function-fixing/GC_Real_Estate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Collection

The data will be collected from https://www.domain.com.au/rent/gold-coast-qld/ <br> I tried using www.realestate.com.au but there is not permission.

In [ ]:
# Install the main libraries for web scrapping
! pip3 install requests
! pip3 install beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
#Import Main Libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import math

In [ ]:
URL = 'https://www.domain.com.au/rent/gold-coast-qld/'
page = requests.get(URL)

In [ ]:
soup = BeautifulSoup(page.content, 'html.parser')

In [ ]:
#Number of web pages to read
numberOfWebsToRead = soup.find("h1", attrs={"class": "css-ekkwk0"}).text
numberOfWebsToRead = int(re.findall(r'\d+', numberOfWebsToRead)[0])
numberOfWebsToRead = numberOfWebsToRead /21
numberOfWebsToRead = math.floor(numberOfWebsToRead)

In [ ]:
 #Arrays for the ammenities in the house
 mainAddressArray = []
 secondAddressArray = []
 postalCodeArray = []
 rentArray = []
 bedsArray = []
 bathsArray = []
 parkingArray = []
 buildingTypeArray = []

for i in range (1,7):
  URL = 'https://www.domain.com.au/rent/gold-coast-qld/?page='+str(i)
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, 'html.parser')
  #Each element will cotain the info required for my work
  elements = soup.find_all("div", class_="css-1n74r2t")
  for element in elements:
    mainAddress = element.find("span", attrs={"data-testid": "address-line1"})
    secondAddress = element.find("span", attrs={"itemprop": "addressLocality"})
    postalCode = element.find("span", attrs={"itemprop": "postalCode"})
    rent = element.find("p", attrs={"data-testid": "listing-card-price"})
    ammenities = element.find_all("span", attrs={"class": "css-1rzse3v"})
    buildingType = element.find("span", attrs={"class": "css-693528"})
    if all(label is not None for label in [mainAddress, secondAddress, postalCode, rent, ammenities[0], ammenities[1], ammenities[2], buildingType]):
      mainAddressArray.append(mainAddress.text)
      secondAddressArray.append(secondAddress.text)
      postalCodeArray.append(postalCode.text)
      rentArray.append(rent.text)
      bedsArray.append(ammenities[0].text)
      bathsArray.append(ammenities[1].text)
      parkingArray.append(ammenities[2].text)
      buildingTypeArray.append(buildingType.text)
    else:
      print('It was not possible to add an element in page '+str(i)+" becasue it's missing some values")

It was not possible to add an element in page 3 becasue it's missing some values

## Final data gathered:

In [ ]:
dictionary = {'Main Address': mainAddressArray, 
              'Second Address': secondAddressArray, 
              'Postal Code': postalCodeArray, 
              'Rent':rentArray, 
              'Bedrooms': bedsArray, 
              'Bathrooms': bathsArray,
              'Parking spaces': parkingArray,
              'Building Type': buildingTypeArray}
df = pd.DataFrame(dictionary)
df

               Main Address  ...            Building Type
0            31 Oxford St,   ...                    House
1           55 Nicola Way,   ...                    House
2     27 Florabella Drive,   ...                    House
3   1/18 Lenneberg Street,   ...                Townhouse
4          5/3 Central St,   ...  Apartment / Unit / Flat
..                      ...  ...                      ...
93   17/120 The Esplanade,   ...  Apartment / Unit / Flat
94    26 Springsure Drive,   ...                    House
95      19 Norfolk Avenue,   ...                    House
96    3/57 Garrick Street,   ...  Apartment / Unit / Flat
97                 6 AQUA,   ...  Apartment / Unit / Flat

[98 rows x 8 columns]

# 2. Data Cleaning

In [ ]:
dfCopy = df.copy()

In [ ]:
#Function that transform the columns[Bedrooms, Bathrooms and Parking Spaces] to integers
#columnName : Name of the column to transform into an integer.
def toInteger (columnName):
  for ind in dfCopy[columnName].index:
    value = dfCopy[columnName][ind][0]
    if (value == '−'):
      value = 0
    else:
      value = int(value)
    dfCopy[columnName][ind] = value

In [ ]:
toInteger('Bathrooms')
toInteger('Bedrooms')
toInteger('Parking spaces')
dfCopy

               Main Address  ...            Building Type
0            31 Oxford St,   ...                    House
1           55 Nicola Way,   ...                    House
2     27 Florabella Drive,   ...                    House
3   1/18 Lenneberg Street,   ...                Townhouse
4          5/3 Central St,   ...  Apartment / Unit / Flat
..                      ...  ...                      ...
93   17/120 The Esplanade,   ...  Apartment / Unit / Flat
94    26 Springsure Drive,   ...                    House
95      19 Norfolk Avenue,   ...                    House
96    3/57 Garrick Street,   ...  Apartment / Unit / Flat
97                 6 AQUA,   ...  Apartment / Unit / Flat

[98 rows x 8 columns]

## Transform the rent into a float:

In [ ]:

rentIntArray = []
for ind in dfCopy['Rent'].index:
  #Extract the numbers from the string
  lista = re.findall(r'\d+', dfCopy['Rent'][ind])
  finalRent = ''.join(lista)
  #Eliminate the row if the number is ''
  if (finalRent == ''):
    dfCopy.drop([ind], inplace=True)
    print ('This is the problem index: '+str(ind)+', so it was eliminated' )
  #Otherwise, it add the number to a list
  else:
    dfCopy['Rent'][ind] = float(finalRent)
    rentIntArray.append(float(finalRent))

This is the problem index: 49, so it was eliminated

In [ ]:
dfCopy.head(40)

                     Main Address  ...            Building Type
0                  31 Oxford St,   ...                    House
1                 55 Nicola Way,   ...                    House
2           27 Florabella Drive,   ...                    House
3         1/18 Lenneberg Street,   ...                Townhouse
4                5/3 Central St,   ...  Apartment / Unit / Flat
5                73/2-6 Ghilgai,   ...                Townhouse
6               39 Ridgeway Ave,   ...                    House
7        13/27 Peninsular Drive,   ...  Apartment / Unit / Flat
8              22 The Esplanade,   ...                    House
9            6/52 Martin Street,   ...  Apartment / Unit / Flat
10          3/28a Marine Parade,   ...  Apartment / Unit / Flat
11            20 Bedroff Street,   ...                    House
12        2/18 Foreshore Street,   ...                    House
13             8 Daintree Drive,   ...                    House
14            3/11 Thomas Drive,   ...  Apartment / Unit / Flat
15           133 Sheehan Avenue,   ...                    House
16           11 Moorabbin Place,   ...                    House
17       305 San Fernando Drive,   ...                    House
18           3 River Cove Place,   ...                    House
19         4/15a Vespa Crescent,   ...                    Villa
20       804/30 Brighton Parade,   ...  Apartment / Unit / Flat
21             8 Boston Terrace,   ...                    House
22            71/125 Pappas Way,   ...  Apartment / Unit / Flat
23         601/110 Frank Street,   ...  Apartment / Unit / Flat
24          2/2 Howell Crescent,   ...                    House
25   26B Constellation Crescent,   ...                    House
26        50/31 Leviathan Drive,   ...                Townhouse
27     141 George Alexander Way,   ...                    House
28  2604/28 Northcliffe Terrace,   ...  Apartment / Unit / Flat
29       20/8A Clydesdale Drive,   ...                    House
30         12/150 Marine Parade,   ...  Apartment / Unit / Flat
31            43 Inwood Circuit,   ...                    House
32         1/81 Fountain Street,   ...                    House
33              1 Mcdonnel Lane,   ...                    House
34            11 Windward Place,   ...                    House
35      12/302 Christine Avenue,   ...                Townhouse
36              11 Chant Street,   ...                    House
37        34/3031 The Boulevard,   ...                    House
38          21 Teemangum Street,   ...                    House
39       123/251 Varsity Parade,   ...  Apartment / Unit / Flat

[40 rows x 8 columns]

## Get the latitude and Longitude

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my_user_agent")
city ="London"
country ="Uk"
loc = geolocator.geocode(city+','+ country)
print("latitude is :-" ,loc.latitude,"\nlongtitude is:-" ,loc.longitude)

latitude is :- 51.5073219
longtitude is:- -0.1276474

In [ ]:
housesNotFound = []
for index, row in dfCopy.iterrows():
  if '/' in row['Main Address']:
    location =  geolocator.geocode(row['Main Address'].split('/',1)[1] +row['Second Address']) 
  else:
    location = geolocator.geocode(row['Main Address']+row['Second Address']) 
  if location == None:
    housesNotFound.append( row['Main Address']+row['Second Address'])
    dfCopy.drop([index], inplace=True)
  else:
    print (str(index))
    print ([location.latitude, location.longitude])
    dfCopy['Latitude'] = location.latitude
    dfCopy['Longitude'] = location.longitude

0
[-27.8355621, 153.3150188]
1
[-27.9484566, 153.3887535]
2
[-27.9563324, 153.4010099]
4
[-27.8637718, 153.2873029]
5
[-28.0037055, 153.4312287]
6
[-28.090281, 153.4198842]
7
[-28.1670021, 153.5212003]
8
[-28.0277253, 153.4206513]
9
[-28.0897004, 153.3743755]
11
[-28.0377118, 153.424929]
12
[-28.0260439, 153.3981841]
13
[-27.9514383, 153.3771857]
14
[-28.047423, 153.4222889]
15
[-28.0004615, 153.4221523]
16
[-28.0037055, 153.4312287]
17
[-28.0796875, 153.397988]
19
[-27.9759813, 153.4162493]
20
[-28.0030322, 153.4288667]
21
[-28.088257, 153.4236477]
22
[-28.048501, 153.3610459]
23
[-28.0007209, 153.315282]
24
[-27.8730903, 153.2917017]
25
[-28.0312426, 153.4164519]
26
[-27.9907356, 153.3952517]
27
[-27.9724441, 153.4026842]
28
[-28.0048577, 153.4233589]
29
[-27.9705434, 153.36483615674967]
30
[-28.0469567, 153.4175161]
31
[-27.8445534, 153.3376485]
32
[-28.0760916, 153.3555424]
33
[-27.9940446, 153.4260426]
34
[-27.9762084, 153.4175585]
35
[-27.8370707, 153.2963964]
36
[-28.1030376, 153.3684296]
37
[-28.012161, 153.4318722]
38
[-28.0784077, 153.4128625]
39
[-27.9973733, 153.422218]
40
[-28.0933934, 153.404321]
41
[-28.1670021, 153.5212003]
42
[-28.0040627, 153.4296864]
43
[-28.0796438, 153.4013422]
44
[-27.9555099, 153.3778418]
45
[-28.018657, 153.4314249]
46
[-27.9524434, 153.3677884]
47
It was not possible to find house with address 53 Amalfi Drive, ISLE OF CAPRI
48
[-27.9637463, 153.4073585]
49
[-27.8740825, 153.3643182]
50
[-28.0048322, 153.4203179]
51
[-27.9750755, 153.4143715]
52
[-28.0712947, 153.4447744]
53
[-28.005026649999998, 153.40355102233252]
54
[-28.1030376, 153.3684296]
55
[-27.9626931, 153.4121321]
56
[-27.7757133, 153.2604565]
57
It was not possible to find house with address 14 Mersey Street, UPPER COOMERA
58
[-27.8272566, 153.3299305]
59
[-27.9940446, 153.4260426]
60
[-28.00065385, 153.4305325122291]
61
[-28.0230088, 153.3804894]
62
[-27.956883, 153.3808851]
63
[-27.956883, 153.3808851]
65
It was not possible to find house with address 1873 Sawgrass Place, SANCTUARY COVE
66
It was not possible to find house with address 44 Edinburgh Road, BENOWA WATERS
67
[-28.0762327, 153.4453139]
68
[-28.0044175, 153.4209138]
69
[-27.9677114, 153.416631]
70
[-28.0186027, 153.4286537]
71
[-27.8658568, 153.3505425]
72
[-28.0104119, 153.4309516]
73
[-27.956883, 153.3808851]
74
It was not possible to find house with address 702/6 Tonga Place, SOUTHPORT
75
[-28.0228728, 153.4152105]
76
It was not possible to find house with address 102 Cabana Boulevard, BENOWA WATERS
77
[-28.0206837, 153.3900386]
78
[-28.0173522, 153.4265372]
79
[-28.1678638, 153.5341545]
80
[-27.9627126, 153.3891176]
81
[-27.9333151, 153.4050343]
82
It was not possible to find house with address 95 'Lake Hills' 117 Palm Meadows Drive, CARRARA

In [ ]:
housesNotFound

['53 Amalfi Drive,\xa0ISLE OF CAPRI',
 '14 Mersey Street,\xa0UPPER COOMERA',
 '1873 Sawgrass Place,\xa0SANCTUARY COVE',
 '44 Edinburgh Road,\xa0BENOWA WATERS',
 '702/6 Tonga Place,\xa0SOUTHPORT',
 '102 Cabana Boulevard,\xa0BENOWA WATERS',
 "95 'Lake Hills' 117 Palm Meadows Drive,\xa0CARRARA"]

In [ ]:
dfCopy

               Main Address    Second Address  ...   Latitude   Longitude
0     6 Cambridge Circuit,            PIMPAMA  ... -27.933315  153.405034
1    1/24 McMillan Street,           LABRADOR  ... -27.933315  153.405034
2     161 Musgrave Avenue,           LABRADOR  ... -27.933315  153.405034
4         8 Kiamba Street,      UPPER COOMERA  ... -27.933315  153.405034
5    17/120 The Esplanade,   SURFERS PARADISE  ... -27.933315  153.405034
..                      ...               ...  ...        ...         ...
77           6 Ulrike Way,             BENOWA  ... -27.933315  153.405034
78    28/26 Monaco Street,   SURFERS PARADISE  ... -27.933315  153.405034
79    3/57 Garrick Street,        COOLANGATTA  ... -27.933315  153.405034
80  17D Village Boulevard,          SOUTHPORT  ... -27.933315  153.405034
81   6/14 Brighton Street,     BIGGERA WATERS  ... -27.933315  153.405034

[72 rows x 10 columns]

## Map creation

In [ ]:
! pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2020.12.5)

In [ ]:
import folium

In [ ]:
gcMap = folium.Map(location=[-28.016, 153.4], zoom_start = 12, tiles = 'https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png')

ValueError: ignored

In [ ]:
gcMap